 @font-face {
	font-family: AppleSDGothicNeoL00;
    src: url("AppleSDGothicNeoL00.ttf") format("turetype");

} 
   
#about{}
#foot{
	float: left;
	position:relative; 
	height:50px; 
	left: 43%;
	bottom:0px;}
body {
    padding-top: 70px;
	height: 1000px;
	color: #222;
    font-family: 'AppleSDGothicNeoUL00 Regular', serif;
    font-size: 16px;
    line-height: 1.8 !important;
}


html {
	overflow-x:hidden;
}

p{
	font-family: 'AppleSDGothicNeoUL00 Regular', serif;
	font-weight:300;
}

section {
	padding-top:85px;
	padding-bottom:85px;
}
  




.navbar-fixed-top{}

.logo{padding-top: 10px;}

.img1{
	width : 80%;
}

.back{
	width: 100%;
	height: 400px;
	background-color:#FFEBCD;}

.s-horizon {
  float:left;
  text-align: center;
  height: 800px;
}
.relative{ width : 80px;}

.content1 {
  width: 26%;
  float:left;
  text-align: center;
  height: 700px;
  margin: 2.5%;
  border-radius: 25px 25px 0px 0px;
	box-shadow: 0px 5px 15px 1px rgba(0,0,0, .20);
  padding-top:4%;
	
  position : relative;
  left: 4%;
  bottom: 0px;
	background-color:white;

}
.top{
margin: auto
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.text-center{
	font-size: 24px;}
a,a:link {
	font-family: 'AppleSDGothicNeoUL00 Regular', serif;
	color: #222;
}

a:hover,a:focus {
font-family: 'AppleSDGothicNeoUL00 Regular', serif;
	color: #222;
}


.text3{
	font-size: 12px;
	text-align: center;}





@media(max-width : 990px ){
	.back{background-color:white;}
	.content1 {
  width: 33%;
  float:left;
  text-align: center;
  height: 600px;
  margin: 0.1%;
  border-radius: 25px 25px 0px 0px;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0, 0);
		padding-top:9%;}
	.img1 {width:110%;}
	
		
		
}
@media(max-width : 833px ){
.s-horizon {
  float:left;
  text-align: center;
  margin-right: 10%;
}
.relative{ 
	       width : 150px;}

	.img1{
	width : 50%;

}
	.none{display: none;}	
.content1 {

  width: 75%;
  height: 100%;
  margin: 10% 0% 0% 10%;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0, .10);
 padding: 0px;
}
	.back{background-color: white;}
	
	
	.text-center{display:none;}
	.intro{display:none;}
	.logo{background-color:white; 
		padding-top:5%;
		padding-left:43%; }
}
	@media(max-width : 608px ){
    body {
        padding-top: 10px; 
	}
		.logo{padding-top:5%; 
	          padding-left:40%; }
		
    .navbar-fixed-top .navbar-brand {
        padding: 10px 0;
    }
}
.intro {
	font-size:22px;
	padding-top:30px;
	padding-bottom:10px;
}

.head1{margin-left: 40px;}
	
.img1{
	width : 70%;

}
	



